body {
    background-color: rgb(6, 25, 34);
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

button {
    cursor: pointer;
    background-color: rgb(29, 17, 96);
    color:rgb(255, 255, 255);
}

button:hover {
    color: rgb(229, 95, 32);
} 

#header {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 100%;
    justify-content: space-between;
    align-items: center;
    color: rgb(229, 95, 32);
    background-color: rgb(29, 17, 96);
    padding: 1em .5em 2em;
    margin-bottom: 6em;
}

#score-link {
    color: rgb(229, 95, 32);
}

main,
#score-table {
    display: flex;
    flex: 1 0 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin: 0 25%;
    padding: 5em;
    border-radius: 35px;
}

#quiz-area,
#score-table {
    display: flex;
    flex-direction: column;
    flex: 1 0 100%;
    justify-content: space-evenly;
}

#quiz-question,
#scores-heading {
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 35px;
    color: rgb(229, 95, 32);
}

#quiz-answers ul,
#scores-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

#quiz-answers ul li,
#scores-list li {
    margin-bottom: 2em;
    padding: 1em;
    background-color: rgb(29, 17, 96);
    color: rgb(255,255,255);
    font-size: 18px;
    border-radius: 50px;
}

#quiz-answers ul li button {
    border: none;
}

#buttons-section,
#scores-buttons {
    text-align: center;
}

#buttons-section button,
#scores-buttons button {
    padding: 5px 8px;
    margin: 0 7px;
}

#score-table {
    margin-top: 7em;
    align-items: unset;
}

#scores-list li {
    width: 100%;
}

#scores-list li:nth-child(odd) {
    background-color: rgb(255,255,255);
    color: rgb(229, 95, 32);
}

.row {
    display: flex;
    flex: 1 0 100%;
    flex-wrap: wrap;
    flex-direction: row;
}

.welcome-text {
    margin-bottom: 2em;
    padding: 1em;
    color: rgb(229, 95, 32);
    font-size: 1.5rem;
    text-align: center;
}